@import "./node_modules/bootstrap/scss/bootstrap.scss";

@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');
*{
  margin: 0;
  padding: 0;
}

body {
  color: white;
  /* background-image: linear-gradient(to right, black, rgb(92, 92, 92), rgb(73, 73, 73)) */
  background-color: rgb(39, 39, 39);
}

/* article {
    background-color: gray;
} */




// nav.flex-container {
//   margin: auto;
//   font-size: 2rem;
//   letter-spacing: .2rem;
//   display: flex;
//   justify-content: flex-end;
//   color: white;
  

// }




// .flex-container ul {
//   display: flex;
//   flex-flow: row;
//   justify-content: space-around;
// 	list-style-type: none;
// 	margin: 0;
// 	padding: 0;
// 	overflow: hidden;
  
// li {
//   margin: 1rem 1.5rem 1rem 1.5rem;
  
//   a {
//     padding: .5rem;
//     :hover {
//       // background-color: rgb(47, 47, 47);
//       background-color: rgb(47, 47, 47);
//       border-radius: .5rem;
      
      
//     }
//     }
//   }
// }

 







h1 {
    font-size: 45px;
    color: white;
    width: 100%;
}

h1,
h2,
h3, 
h4 {
    font-family: 'Encode Sans SC', sans-serif;
}
 
  #grilla {
    display: grid;
    grid-template-areas:
    "header    header    header"
    "contacto    contacto    contacto " 
    "nav    seccion     img_oscura" 
    "nav    seccion     noticias" 
    "nav    seccion     noticias" 
    "footer  footer      footer";
    /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; */
    grid-column-gap: 10px;
    margin: 0 .5rem 0 .5rem;;
}

#grid_menu {
  grid-area: contacto;
  justify-content: flex-end;
}

#diarioperfil {
    grid-area: noticias;
}

#seccion {
    grid-area: seccion;
}

/* .border {
    border: 1px solid white;
} */

#banner {
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // background-color: rgb(31, 31, 31);
    // box-shadow: rgba(85, 85, 85, 0.2) 0px 8px 24px;
    background-color: white;
    color: black;
}



#img_oscura {
    grid-area: img_oscura;

}

section#productos {
    grid-area: productos;
}

nav {
    grid-area: nav;
}

aside {
    grid-area: noticias;
}

@keyframes scaleImg {
  0% {
      transform: scale(1);
  }
  100% {
      transform: scale(1.3);
  }
}

#galeria img:hover {
  animation: scaleImg;
  animation-duration: 2s;
  /* transform: scale(1.2); */
  
}

.titulo__general{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

footer {
  grid-area: footer;
  background-color: rgb(31, 31, 31);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  font-size: 1rem;
  // font-family: 'Jomhuria', cursive;
  font-family: 'Encode Sans SC', sans-serif;
  padding: 1rem;
}


ul{
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  // font-family: 'Jomhuria', cursive;
  font-family: 'Encode Sans SC', sans-serif;
  font-size: 0.90rem;

  
}

a a:active{
  text-decoration: none;
}

.youTube {
  text-align: center;
  height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	padding-top: 30px;
	position: relative;
}

.youTube iframe {
  height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}



nav.menu__models{  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: .2rem;
  margin: 0;
  font-size: 2rem;
  letter-spacing: .2rem;
  
 ul li a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  // color: blanchedalmond;
  color: white;
  font-family: 'Encode Sans SC', sans-serif;

  
  }
}
nav.menu__models ul li a:hover {
  background-color: rgba(85, 47, 47, 0.329);
  // color: blanchedalmond;
  color: white;
  border-radius: .5rem;
}

@import url(https://fonts.googleapis.com/css?family=Varela+Round);

// Colors
$color-one: #1F2124;
$color-two: #383A3F;
$color-three: #272444;
$color-four: #272444;

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: $color-two;
  font-family: "Varela Round", sans-serif;
}

.card {
  background: $color-one;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  border-radius: 5px;
  margin: 50px 20px 20px 20px;
  width: calc(33.3333% - 40px); /* 1/3 minus the margins (20+20) */
  padding: 20px;
  text-align: center;
  color: white;
  float: left;
  @media (max-width: 768px) {
    margin: 10px 20px;
    width: calc(100% - 40px);
    &:first-child {
      margin-top: 20px;
    }
  }
  &:nth-child(2) {
    margin: 20px 0px;
    width: 33.3333%;
    padding: 50px 20px;
    @media (max-width: 768px) {
      margin: 10px 20px;
      width: calc(100% - 40px);
    }
  }
  .title {
    font-size: 25px;
  }
  .icon {
    margin: 50px 0;
    svg {
      width: 100px;
      height: 100px;
      path {
        fill: $color-four;
      }
    }
  }
  .features {
    ul {
      padding: 0;
      margin: 20px 0 50px 0;
      list-style-type: none;
      li {
        margin: 10px 0;
        font-size: 14px;
        span {
          border-bottom: 2px dotted $color-four;
        }
      }
    }
  }
  .btn {
    display: block;
    background: $color-four;
    color: white;
    padding: 15px 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: rgba(0,0,0,0.9);
    transition: all 200ms ease-in-out;
    text-decoration: none;
    &:hover {
      background: $color-three;
    }
  }
}